.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  padding: 0 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
  background-image: url('../../assets/vet1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.jumbotron__heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  z-index: 5;
}

.jumbotron__text {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  z-index: 5;
}

.jumbotron__button {
  padding: 1rem 1rem;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 5;
}

.jumbotron__button:hover {
  background-color: #eee;
}

@media (min-width: 768px) {
  .jumbotron {
    padding: 0 5rem;
    min-height: 65vh;
  }

  .jumbotron__heading {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .jumbotron__text {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .jumbotron__button {
    font-size: 1.7rem;
    padding: 1rem 1rem;
  }
}

@media (min-width: 1024px) {
  .jumbotron {
    min-height: 75vh;
  }

  .jumbotron__heading {
    font-size: 2.5rem;
    margin-bottom: 1.7rem;
  }

  .jumbotron__text {
    font-size: 1.7rem;
    margin-bottom: 3.7rem;
  }

  .jumbotron__button {
    font-size: 2rem;
    padding: 1.5rem 1.5rem;
  }
}
